.navbar{
    background-color: rgb(158, 20, 158);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

.navLink{
    text-decoration: none;
    color: white;
    height: 50px;
   display: flex;
   align-items: center;
   padding-left: 15px;
   padding-right: 15px;

}
.navLink:hover{
    background-color: rgb(189, 2, 246);
    color: rgb(223, 255, 80);
}
nav .active{
    background-color: rgb(19, 233, 19);

}