.app{
  height: 91vh;
  width: 100vw;
  display: flex;

}
.left__container{
  width: 15vw;
  background-color:#15202B;
  
}

.right__container{
  width: 85vw;
  background-color: #1D2A35;
  color: #ffffff;
  padding-left: 40px;
}